div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: 0.5s ease-out;
    text-align: center;
    font-size: 36px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    padding: 20px 30px;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: 0;
    cursor: pointer;
    top: 50%;
    left: 50%;
    position: absolute;
    outline: none;
    transition: 0.2s ease-out;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

button:hover {
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,.2);
}

button:active {
    box-shadow: inset 0px 0px 15px 5px rgba(0,0,0,.4);
}

.dec {
    top: 20%;
    position: absolute;
    transform: translateX(-50%);
    text-transform: uppercase;
}